<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <div></div>
        
        <div>
        <h1>
            ID :<b> <%= wallet[0].ID %> </b>
       </h1>
       <h1>
            Account No:<%= wallet[0].ACCOUNT_NO %>
       </h1>
       <h1>
            Balance :<%= wallet[0].BALANCE %>
        </h1>
        </div>



    </body>
</html>