
<head>
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/css/signup.css">


</head>

<body style="background:url('../../images/background.jpg');">
    <div >
        <div class="loginBox">

            <h2>Change Password</h2>
            <form action="/driver/info/changepassword" method="POST">
                <p>Old Password</p>
                <input type="password" name="prevpass" required value="<%= (typeof form != 'undefined') ? form.prevpass : '' %>">
                <p>New Password</p>
                <input type="password" name="newpass" required value="<%= (typeof form != 'undefined') ? form.newpass : '' %>">


                <input type="submit" name="" value="Change Password">

                <% if (errors.length> 0) { %>
                    <div class="row m-2 mx-0 pb-0 alert alert-danger">
                        <ul>
                            <% for (e of errors) { %>
                                <li>
                                    <%= e %>
                                </li>
                                <% } %>
                        </ul>
                    </div>
                    <% } %>

            </form>
        </div>
    </div>
</body>

</html>
