<body>
    <h3 style="margin-left:50%">You have this trip ongoing: </h3>
<script>
    localStorage.setItem('dplt', <%= trip_info.PLAT %>);
    localStorage.setItem('dplg', <%= trip_info.PLNG %>);
    localStorage.setItem('ddlt', <%= trip_info.DLAT %>);
    localStorage.setItem('ddlg', <%= trip_info.DLNG %>);
</script>

<iframe src="/steps.html" style="height: 80vh"></iframe> 
<form  action="/driver/completed" method="POST" >
            
    <input type="submit" value="Completed" class="btn  btn-secondary" style="margin-left: 60%;">
    
</form>
    
</body>



