<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <div></div>

        <div>
        <h1>
            Name :<b> <%= driver.NAME %> </b>
            Wallet:<b><%=driver.WALLET_ID %></b>
        </h1>
        </div>



    </body>
</html>