<body>
    <h3 style="margin-left:50%">You have this trip ongoing: </h3>


<iframe src="/steps.html" style="height: 80vh"></iframe> 
<form  action="/driver/completed" method="POST" >
            
    <input type="submit" value="Completed" class="btn  btn-secondary" style="margin-left: 60%;">
    
</form>
    
</body>



