<head>
  <link rel="stylesheet" href="/css/drivernavigationbar.css">
</head>

<body>
  <script src="/js/drivernavbar.js"></script>

  <nav id="sidebar">
    <div class="p-4 pt-5">
      <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/images/<%=driver.IMAGE%>);"></a>
     
      <ul class="list-unstyled components mb-5">
        <li class="active">
         
        <li> <a href="/driver"> Home</a></li>

        <li><a href="/driver/history"> history</a></li>
        <li>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">About</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
            <li><a href="/driver/info">info</a></li>
            <li>
              <a href="/driver/info/edit">Edit info</a>
            </li>

          </ul>
        </li>
        <li><a href="/driver/wallet"> Balance</a></li>
        <li><a href="/driver/requests"> Requests</a></li>
        <li><a href="/driver/reviews"> Reviews</a></li>
        <li><a href="/driver/payments"> Payments</a></li>

      </ul>

      <div class="footer">
        <form action="/driver/logout" method="POST">

          <input class="components" style="justify-content:flex-end" type="submit" value="Log Out">

        </form>
        
      </div>

    </div>
  </nav>
</body>