<!DOCTYPE html>
<html>
<head>
    <title>Choose your Role</title>
</head>
<body>
    <button id="driverButton"  class="active" onclick = "window.location.href='/driver'">Continue as a driver</button>
    <button id="userButton"  class ="active" onclick = "window.location.href='/user'">Continue as a User </button>
     
    
</body>
</html>
