<!DOCTYPE html>
<html>
<head>
    <title>Choose your Role</title>
</head>
<body>
    <button id="driverButton"  class="active" onclick = "window.location.href='/driver'">Continue as a driver</button>
    <button id="userButton"  class ="active" onclick = "window.location.href='/user'">Continue as a User </button>
    <a href="/user/signup"><button id="userButton"  class ="active" >Testing </button></a> 
    
</body>
</html>
