<!DOCTYPE html>
<html>
<head>
    <title>Choose your Role</title>
</head>
<body>
    <button id="driverButton"  class="active" onclick = "window.location.href='/driver'">Driver Button</button>
    <button id="userButton"  class ="active" onclick = "window.location.href='/user'">User Button</button>
    
</body>
</html>
