
<head>
  <link rel="stylesheet" href="/css/drivernavigationbar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
        @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

  </style>
</head>

<body>
  <script src="/js/drivernavbar.js"></script>

  <nav id="sidebar">
    <div class="p-4 pt-5">
      
     
          <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/images/<%=user.IMAGE%>);"></a>
            



      
      <ul class="list-unstyled components mb-5">
        <li class="active">

          <!-- <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a> -->
        
        <li> 
          
          <a href="/user"><i class="fas fa-home"></i>  Home</a>
        </li>

        <li><a href="/user/history"><i class="fa fa-history" aria-hidden="true"></i>  History</a></li>
        <li>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa-solid fa-info"></i>  About</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
            
              <li><a href="/user/info"><i class="fas fa-user"></i>   Profile</a></li>
             
              <li><a href="/user/info/edit"><i class="fas fa-user-edit"></i>  Edit Profile</a></li>
            

          </ul>
        </li>
         <li><a href="/user/wallet"><i class="fas fa-address-card"></i>    Wallet</a></li>
        <li><a href="/user/requests"><i class="fa-solid fa-car"></i> Request For a Ride</a></li>
        <li><a href="/user/payments"><i class="fa-amazon-pay"></i> Payments</a></li>

      </ul>

      <div class="footer">
        <form action="/user/logout" method="POST">

          <input class="components" style="justify-content:flex-end" type="submit" value="Log Out">

        </form>
        
      </div>

    </div>
  </nav>
</body>


