<div class=" row p-5 ms-5 me-5 g-0">
    <div class="shadow mt-2 mb-2 col-7 p-3 rounded-2 align-middle">
        

        <!--    start-->

        <form action="/user/info/changepassword" method="POST" class="card-body">
  
            <!-- password -->
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="prevpass" required
                       value="<%= (typeof form != 'undefined') ? form.prevpass : '' %>">
                <label for="prevpass">Old Password</label>

            </div>
            <!-- confirm password -->
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="newpass" required
                       value="<%= (typeof form != 'undefined') ? form.newpass : '' %>">
                <label for="newpass">New Password</label>
            </div>

            <!-- Date of Birth -->
            <!--        <div class="form-group row m-2">-->
            <!--            <label for="birthdate" class="col-4 col-form-label">Date of Birth</label>-->
            <!--            <div class="pl-3">-->
            <!--                <input type="date" class="form-control" name="birthdate" required-->
            <!--                value="<%= (typeof form != 'undefined') ? form.birthdate : '' %>" >-->
            <!--            </div>-->
            <!--        </div>-->
            <!-- error list -->
            <% if (errors.length > 0) { %>
                <div class="row m-2 mx-0 pb-0 alert alert-danger">
                    <ul>
                        <% for (e of errors) { %>
                            <li> <%= e %> </li>
                        <% } %>
                    </ul>
                </div>
            <% } %>
            <!-- submit -->
            <div class="d-grid gap-2 mt-3">
                <button type="submit" class="btn btn-lg btn-primary" style="background-color: #33c24d;border: 0">
                    Change Password
                </button>
            </div>

        </form>

    </div>
</div>
