<div class="request-details",style="margin-left:60%">
    <h3 style="margin-left: 30%;">Your have reached your destination</h3>
    <% if(payment.length>0) { %>
        <% const payment_details=payment[0]; %>
        <h3 style="margin-left: 30%;"><strong>Fare Paid:</strong></h3>
        
        <p style="margin-left:35%"><strong>Transaction No:</strong> <%= payment_details.TRANSACTION_NO %></p>
        <p style="margin-left:35%"><strong>Amount:</strong> <%= payment_details.AMOUNT %> Tk</p>
        <p style="margin-left:35%"><strong>Payment Time:</strong> <%= payment_details.WHEN %></p>
    <% } %>

</div>
<a href="/user"><button style="margin-left: 40%;">Back to Home</button></a> 